.menu-title {
  color: #8c8c8c;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-container {
  margin: 10px 0;
  padding: 10px;
}

.menu-container ul {
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

.menu-item {
  margin-bottom: 8px;
}

.menu-item a {
  text-decoration: none;
  color: #c3c3c3;
  font-size: 14px;
  cursor: pointer;
}

.menu-item a:hover {
  color: #fff;
}
