.browse-container {
  height: 100%;
}

.browse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}

.browse-header p {
  color: #fff;
}

.browse-body {
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: #212121;
}
