.login {
  margin: 50px auto;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}
.login button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
